<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	Controller는 어노테이션을 이용해서 스캔 하고, DB 관련 DAO는 명시적으로 선언 하였음
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       "
       default-lazy-init="true"
       >

	<!--  Message Resources -->
	<bean id="messageSource" 
		class="org.springframework.context.support.ResourceBundleMessageSource">	
		<property name="basenames">
			<list>
				<value>config/message</value>
			</list>
		</property>
	</bean>	       
	
	<bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
		<constructor-arg ref="messageSource" />
 	</bean>

  <bean id="messageSourceAccessorHolder" class="com.setvect.literatureboy.util.DateDiff" autowire="byName" lazy-init="false"/>
  
	<!-- Transaction -->
	<tx:advice id="hibernateTxAdvice" transaction-manager="hibernateTxManager">
		<tx:attributes>
			<tx:method name="*" rollback-for="Exception" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="dao" expression="execution(* com.setvect.literatureboy.db..*Dao.*(..))"/>
		<aop:pointcut id="serivce" expression="execution(* com.setvect.literatureboy.db..*DBInitializer.*(..))"/>
		<aop:pointcut id="controller" expression="execution(* com.setvect.literatureboy.web..*Controller.*(..))"/>
		
		<aop:advisor advice-ref="hibernateTxAdvice" order="2" pointcut-ref="dao" />
		<aop:advisor advice-ref="hibernateTxAdvice" order="2" pointcut-ref="serivce" />
		<!-- <aop:advisor advice-ref="hibernateTxAdvice" order="2" pointcut-ref="controller" /> -->
	</aop:config>	
</beans>