@charset "utf-8";
/* ====== 공통 요소 ====== */
body { margin:0;}
td { font-size: 9pt; color: #58595B; font-style: normal; font-weight: normal; }
div, p, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, dt, dl, dd {margin:0px;padding:0px;font-size:12px;font-family:dotum;color:#464646;}
ul, ol, dl, dd, dt, li	{list-style-type:none; margin:0; padding:0px;line-height:16px;}
img {border:0;vertical-align:top;}
a { color:#464646;text-decoration:none;}
a:hover {color:#464646; text-decoration:underline;}
select {border:1x solid #ADAEAD; color:#777777; background-color:#ffffff; font-size:12px; color:#5D5D5D; line-height:1.3;}

/* ====== 공통 선택 ====== */


/* ====== 레이어 정리 ====== */
.wrap{background:#f7f7f7; min-width:800px; }
.header{width:100%; background:#e5e5e5; }
.container{clear: both;}
.container .left{ background:#ccc; width:130px; float:left; }
.container .content{background:#ddd; margin-left:130px;  }

/* ====== 목록 테이블 ====== */
.list_table {
	border-collapse: collapse;
	border: 0px #fff;
	color: #000;
	background: #fff;
	width: 100%;
}
.list_table thead th{ /* table header */
	border: 1px solid #fff;
	text-align: center;
	font-size: 9pt;
	text-decoration: none; 
	color: #000000; 
	/*font-weight: bold;*/
	height:30px;
	background: #E3E3E3; /*header bg color */
	background-color:#E3E3E3; border-bottom-style: solid ; 
	border-bottom-color: #808285; 				
	border-bottom-width: 1px; 	                                          
}

.list_table td {                                 /* table td */         
	text-align: center;    
	border-bottom-style: solid ; 
	border-bottom-color: #D6D7D6; 				
	border-bottom-width: 1px; 	        
	height:30px;           
}

.list_table .align_left {                                 
	text-align: left;    
} 

.list_pagelinks{
	padding-top: 10px;
	text-align:center;
	width:100%;
}
