@charset "utf-8";
/* ====== 공통 요소 ====== */
body { margin:0;}
td { color: #58595B; }
div, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, dt, dl, dd {margin:0px;padding:0px;font-size:12px;font-family:dotum;color:#464646;}
ul, ol, dl, dd, dt, li	{list-style-type:none; margin:0; padding:0;line-height:16px;}
img {border:0;vertical-align:top;} 
a { color:#464646;text-decoration:none;}
a:hover {color:#464646; text-decoration:underline;}
select {color:#777777; background-color:#ffffff; font-size:12px; color:#5D5D5D; line-height:1.3;}

/* ====== 공통 선택 ====== */
*, div, td, span {font-size: 15px;}

/* ====== 레이어 정리 ====== */
.wrap{background:#f7f7f7; min-width:800px; }
.header{width:100%; background:#e5e5e5; margin-bottom:5px; float: left; }
.container{clear: both; margin: 10px; float: left; width: 100%;}
.container .left{ background:#ccc; width:130px; float:left; padding: 5px; }
/* IE8 핵 */ 
.container .content{ margin-left:150px; margin-right: 20px; *width: 100%;  }

/* ====== 목록 테이블 ====== */
.list_table {
	border-collapse: collapse;
	border: 0px #fff;
	color: #000;
	background: #fff;
	width: 100%;
}
.list_table thead th{ /* table header */
	border: 1px solid #fff;
	text-align: center;
	text-decoration: none; 
	color: #000000; 
	/*font-weight: bold;*/
	height:30px;
	background: #E3E3E3; /*header bg color */
	background-color:#E3E3E3; border-bottom-style: solid ; 
	border-bottom-color: #808285; 				
	border-bottom-width: 1px; 	                                          
}

.list_table td {                                 /* table td */         
	text-align: center;    
	border-bottom-style: solid ; 
	border-bottom-color: #D6D7D6; 				
	border-bottom-width: 1px; 	        
	height:30px;           
}

.list_table .align_left {                                 
	text-align: left;    
} 

.list_table .align_right{                                 
	text-align: right;    
}

.list_pagelinks{
	padding-top: 10px;
	text-align:center;
	width:100%;
}


/* ====== 문단 또는 글자 관련 ====== */
.italic{font-style: italic;}

.title{
	font-weight: bold;                               
}

.main_content div a{font-style: italic; font-size: 12px;}

/* ====== 팝업창관련 ====== */
.popup{padding: 10px;}

/* ====== 게시판 ====== */
#content{height: 300px; width: 750px;}
.list_image{float: left; margin-right: 20px;}
.body_list_td{padding: 10px 0 10px 0}