@charset "utf-8";
/* ====== 공통 요소 ====== */
body { margin:0;}
td { color: #58595B; }
div, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, dt, dl, dd {margin:0px;padding:0px;font-size:12px;font-family:dotum;color:#464646;}
ul, ol, dl, dd, dt, li	{list-style-type:none; margin:0; padding:0;line-height:16px;}
img {border:0;vertical-align:top;} 
a { color:#464646;text-decoration:none;}
a:hover {color:#464646; text-decoration:underline;}
select {color:#777777; background-color:#ffffff; font-size:12px; color:#5D5D5D; line-height:1.3;}

/* ====== 공통 선택 ====== */
*, div, td, span {font-size: 15px;}

/* ====== 레이어 정리 ====== */
.warp{min-width: 900px; }
.header{width:99.5%; background:#e5e5e5; margin-bottom:5px; float: left; }
.container{clear: both; float: left; width: 99.5%;}
.container .left{ background:#ccc; width:130px; float:left; }
/* IE8 핵 */ 
.container .content{ margin:10px 20px 0 150px; *width: 100%;  }


/* ====== 목록 테이블 ====== */
.list_table {
	border-collapse: collapse;
	border: 0px #fff;
	color: #000;
	background: #fff;
	width: 100%;
}
.list_table thead th{ /* table header */
	border: 1px solid #fff;
	text-align: center;
	text-decoration: none; 
	color: #000000; 
	/*font-weight: bold;*/
	height:30px;
	background: #E3E3E3; /*header bg color */
	background-color:#E3E3E3; border-bottom-style: solid ; 
	border-bottom-color: #808285; 				
	border-bottom-width: 1px; 	                                          
}

.list_table td {                                 /* table td */         
	text-align: center;    
	border-bottom-style: solid ; 
	border-bottom-color: #D6D7D6; 				
	border-bottom-width: 1px; 	        
	height:30px;           
}

.list_table .align_left {                                 
	text-align: left;    
} 

.list_table .align_right{                                 
	text-align: right;    
}

.list_pagelinks{
	padding-top: 10px;
	text-align:center;
	width:100%;
}


/* ====== 문단 또는 글자 관련 ====== */
.italic{font-style: italic;}

.title{
	font-weight: bold;                               
}

.left_area  ul{padding: 5px 0 5px 10px;}

.main_content div a{font-style: italic; font-size: 12px;}

/* ====== 팝업창관련 ====== */
.popup{padding: 10px;}

/* ====== 게시판 ====== */
#content{height: 300px; width: 750px;}
.list_image{float: left; margin-right: 20px;}
.body_list_td{padding: 10px 0 10px 0}
.trackback{padding: 20px; }
.trackback .address{font-size: x-small; text-align: right;}


/* ====== 메모장 ====== */
.memo {
	padding: 5px;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
}     

.memo {
	font-size: 13px;
}

.memo .itemContent{
	clear: both;
}

.memo .itemContent span{
	color: red;
	background-color: yellow;
}

.memo span .styleBtn {
}
.memo span input {
	padding: 0 1px;
	float: right;
	margin-left: 2px;
}

.clearable{
  background: #fff url(images/icoX.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */


.tool input{
	padding: 0;
}
.palette{
	width: 60px;
	position: absolute;
	display: none;
	z-index: 99999999999;
}
.palette li{
	float: left;
}
.palette div{
	padding: 4px;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
.palette .text_area div	{
	background-color: #ee98de;
}

/* 검색 안된 메모 스타일 */
.not_search{
	opacity: .3;
}

/* 메모장 적용 스타일 */
._ct_bgstyle_1{
	border: 1px solid #a9abb0;
	background-color: #ffffff;
}
._ct_bgstyle_2{
	border: 1px solid #a9abb0;
	background-color: #e0ffff;
}
._ct_bgstyle_3{
	border: 1px solid #a9abb0;
	background-color: #6495ed;
}

._ct_fontstyle_1{
	border: 1px solid #a9abb0;
	color: black;
}
._ct_fontstyle_2{
	border: 1px solid #a9abb0;
	color: red;
}
._ct_fontstyle_3{
	border: 1px solid #a9abb0;
	color: blue;
}
