<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	Controller는 어노테이션을 이용해서 스캔 하고, DB 관련 DAO는 명시적으로 선언 하였음
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:config="http://www.anyframejava.org/schema/service"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.anyframejava.org/schema/service
       http://www.anyframejava.org/schema/service/anyframe-core-service-2.0.xsd
       "
       default-lazy-init="true"
       >

	<aop:aspectj-autoproxy />
	<context:component-scan  base-package="com.setvect.literatureboy"/>
	       
	<!-- DB Connection -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		lazy-init="true">
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.connection.driver_class">org.h2.Driver</prop>
				<prop key="hibernate.connection.url">jdbc:h2:literatureboy</prop>
				<prop key="hibernate.connection.username">sa</prop>
				<prop key="hibernate.connection.password"></prop>
				<prop key="hibernate.connection.poolsize">20</prop>
				
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="current_session_context_class">thread</prop>  
				<prop key="show_sql">false</prop>
				<prop key="format_sql">true</prop>
				<prop key="connection.shutdown">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.setvect.literatureboy.vo.Memo</value>
			</list>
		</property>
		<property name="packagesToScan">
			<list>
				<!-- Add new Packages to scan here -->
			</list>
		</property>
	</bean>

 	
	<bean id="dynamicHibernateService" class="anyframe.core.hibernate.impl.DynamicHibernateService">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="fileNames">
			<list>
				<value>classpath*:hibernate/hql/dynamic-hibernate-country.xml</value>
			</list>
		</property>
	</bean>	


 	<bean id="hibernateTemplate"
    class="org.springframework.orm.hibernate3.HibernateTemplate"
    p:sessionFactory-ref="sessionFactory" />	
	
	<!-- Transaction -->	
	<bean id="hibernateTxManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:advice id="hibernateTxAdvice" transaction-manager="hibernateTxManager">
		<tx:attributes>
			<tx:method name="*" rollback-for="Exception" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="anyframe" expression="execution(* anyframe..*GenericDao.*(..))"/>
		<aop:pointcut id="appDao" expression="execution(* com.setvect.literatureboy.db..*DaoImpl.*(..))"/>
		<aop:pointcut id="serivce" expression="execution(* com.setvect.literatureboy.db..*DBInitializer.*(..))"/>
		
		<aop:advisor advice-ref="hibernateTxAdvice" order="2" pointcut-ref="anyframe" />
		<aop:advisor advice-ref="hibernateTxAdvice" order="2" pointcut-ref="appDao" />
		<aop:advisor advice-ref="hibernateTxAdvice" order="2" pointcut-ref="serivce" />
	</aop:config>	

	<!-- DataBase DAO -->
	<bean id="db.initializer" class="com.setvect.literatureboy.db.h2.H2DBInitializer"/>
	<bean id="db.memoDao" class="com.setvect.literatureboy.db.h2.H2MemoDao">
		<property name="dynamicHibernateService" ref="dynamicHibernateService" />
	</bean>
	
	<!-- Login Check Interceptor -->
	<bean id="loginCheckInterceptor" class="com.setvect.literatureboy.web.SessionCheckInterceptor"/>
	
	
	<!-- Properties -->
<!-- 사용안함	
	<bean id="configurableCallBack" scope="prototype"
		class="anyframe.common.config.ConfigurableCallback" />	
	
	<bean id="propertiesService" class="anyframe.core.properties.impl.PropertiesServiceImpl">
		<config:configuration>
	      <properties>
	         <element key="PAGE_SIZE" value="3"/>
	         <element key="PAGE_UNIT" value="10"/>
	      </properties>				
		</config:configuration>					
	</bean>
-->	
	
	<!-- =============================== -->
	<!-- ======  WEB MVC Mapping ======= -->
	<!-- =============================== -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" >
		<property name="interceptors">
			<list><ref bean="loginCheckInterceptor"/></list>
		</property>
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

</beans>